@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans';
}


body {
    width:100%;
    height:auto;
    

}
header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0 16px;
    margin-top:16px;
}

     


.header-btn {
  
   width:140px;
   height:48px;
   background-color:#13183F;
   color:#FFFFFF;
   border-radius: 28px;
   font-size: 16px;
   font-weight:700; 
}

main {
    margin-top:38px;
    padding-left:16px;
    display:flex;
    flex-direction:column;
    align-items:center;
  
}

.main-hedding {
    
color:  #13183F;
font-size: 40px;
font-weight:800;
Line-height: 50px;


}



.course-life {

    color: #83869A;
    font-size: 16px;
    font-weight:500;
    line-height: 26px;
    padding-top:26px;

}
.button-2{
    background: linear-gradient(180deg, #dfdcdb 0%, #F02AA6 100%);
     width: 167px;
     height: 56px;
     border-radius: 31.5px;
     color:white;
     font-size: 16px;
     font-weight: 700;
     line-height: 26px;
     border:none;
     margin-top:24px;
    
}
 
.popular-courses {
    background:linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    width:343px;
    border-radius:10px;
    height:120px;
    font-size:24px;
    width:286px;
    color:white;
    font-weight:800;
    text-align: center;
    line-height: 32px;

}


.boxes {

    background-color:white;

}

.gradient-color {
    background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
    justify-self: center;


    

    
}